<h1>Welcome to Whitesides and Whitesides Medical Services</h1>
<h4>Please Choose an option below</h4>
<ul>
<li><%=link_to "Physicians Portal", physicians_path%></li>
<li><%=link_to "Patients Portal", patients_path%></li>
</ul>
