<h1>All Physicians</h1>
<p><%=link_to "New Appointment", new_physician_appointment_path(@physician)%></p>
<ul>

<% @appointments.each do |a| %>
<li>
<%= link_to "#{a.appointment_date}", physician_appointment_path(@physician,a)%> 
</li>
<%end%>

<% @patients.each do |p| %>
<li>
<%= "#{p.full_name}"%> 
</li>
<%end%>


</ul>
