<h1><%=@physician.name%></h1>
<p><%=link_to "back to physician profile",physician_path(@physician) %></p>
<br>
<p><%=link_to "New Appointment", new_physician_appointment_path(@physician)%></p>
<ul>

<% @appointments.each do |a| %>
<li>
<%= link_to "#{a.patient.first_name} - #{a.appointment_date.strftime("%m/%d/%Y")}", physician_appointment_path(@physician,a)%> 
</li>
<%end%>
</ul>
