<nav>
  <ul>
    <li>
      <%= link_to 'Home', root_path%>
    </li>
    <li>
      <%= link_to 'Physicians', physicians_path %>
    </li>
    <li>
      <%= link_to 'Patients', patients_path %>
    </li>
  </ul>
</nav>